@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  margin: 0;
  font-family: Montserrat, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-layout-content {
  height: 40dvmax;
  padding: 25px;
}
.logo {
  float: left;
  color: white;
  font-size: x-large;
}

.logo .icon {
  font-size: xx-large;
  color: darkgreen;
}

.user {
  float: right;
  color: white;
  font-size: large;
}

.logoutBtn, .logoutBtn:hover{
  color: white;
  font-size: large;
}